<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Pedrão Terra Planagem</title>
<link rel="stylesheet" href="css/estilos.css">
 </head>
<!-- início do corpo -->
<body>
<!-- Inicio do Header -->
<header class="container">
    
<h5><a href="Inicio.html"><img src="img/Logo.png" width="300" height="100"></a></h5>
  
    <nav class="menu-opcoes">
    <ul>
<li><a href="Inicio.html">Início</a></li>
<li><a href="Sobre.html">Sobre</a></li>
<li><a href="Contato.html">Contato</a></li>
</ul>
    </nav>
</header>
<!-- Fim do Header -->
    <div>
<h3>Contatos</h3>
  <p> Nome: Pedro de silva</p>
   <p> Telefone:7070-7070</p>
    <p> @email: pedro.silva@hotmail.com</p>
    </div>

<footer>
        <div class="container">
            <h5><img src="img/Logo.png" alt="Logo Mirror Fashion" width="400" height="100"></h5>
            <ul class="social">
                <li><a href="#">Facebook </a><img src = "img/facebook.png"></li>
                <li><a href="#">Twitter</a><img src = "img/twitter.png"></li>
                
            </ul>
        </div>
    </footer>

</body>
<!-- fim do corpo -->
</html>
