<!DOCTYPE html>
<html>
<head>

 </head>
<!-- início do corpo -->
<body>
<!-- Inicio do Header -->
<header class="container">
    
    <h5><a href="Inicio.html"><img src="assets/Logo.png" width="300" height="100"></a></h5>
    <nav class="menu-opcoes">
    <ul>
<li><a href="Inicio.html">Início</a></li>
<li><a href="Sobre.html">Sobre</a></li>
<li><a href="Contato.html">Contato</a></li>
</ul>
    </nav>
</header>
<!-- Fim do Header -->
    <div>
<h3>Inicio</h3>
  <p> Fazemos serviço de terra planagem, no começo era só um caminhão
       mais nós usavamos também o serviço manual ,e hoje são dois caminhoês.
  </p>
   
    </div>
<figure>
<h5><img class="img-circle" src="assets/1.jpg"></h5>
<figcaption>Caminhões: 1995-2006</figcaption>
</figure>    
    <p> 
     Antes nossa empresa de terra e planagem pegavam alguns ajudantes para poder
      carregar o caminhão  manualmente e hoje em dia são :
       </p>
    
         <p>
      1: funcionário
      
    </p>
     <p>
      2: Sócios
          
      </p>
        <p>
         Fazemos os trabalhos nas regiôes de São Paulo,Barueri, Santana de Parnaiba e Carapicuiba.As 
           manutençôes são feitas diariamentes, 2 vezes na semana nas máquinas e caminhôes.
           Para termos um controles e não ter problemas para preujudicar nossas produções dentro da
           empresa.   
            
        </p>
    <h2 id="Ferramentas">Ferramentas </h2>
    <figure id="Mini caregadeira(BOBCAT)-2010">
<h5><img class="img-circle" src="assets/3.jpg"></h5>
<figcaption> Mini caregadeira(BOBCAT)-2010</figcaption>
</figure>
<p>
  <strong>BOBCAT:</strong>  Ela entra em qualquer lugar,lugares com
    pouco espaços.
    As manutenção são feitas de óleo e troca de mangueiras.
    
</p>
    
    <figure id=" Reto Escavadeira -2004">
<h5><img class="img-circle" src="assets/6.jpg" ></h5>
<figcaption> Reto Escavadeira -2004</figcaption>
</figure>
<p>
  <strong>RETO ESCAVADEIRA:</strong> óleo diesel verifição na água,mangueira e parte hidráulica e usada
          para dizatero , aterro e plainar terrenos e limpeza de terrenos.                                                                                    
                                                                                                
</p>
        
    <figure >
<h5><img class="img-circle" src="assets/2.jpg"  width="700" height="500"></h5>
<figcaption> Caminhão</figcaption>
</figure>
<p>
  <strong>CAMINHÃO:</strong> Carregar entulho,terra e fazer carreto.
                                                                                                
</p>
          <figure >
<h5><img class="img-circle" src="Assets/7.jpg"></h5>
<figcaption> Pick-up</figcaption>
</figure>
<p>
  <strong>PICK-UP:</strong> Faz manutenção das máquinas(Carrega pneus etc).
                                                                                                
</p>
<footer>
        <div class="container">
            <h5><img src="assets/Logo.png" alt="Logo Mirror Fashion" width="400" height="100"></h5>
            <ul class="social">
                <li><a href="#">Facebook </a><img  src = "assets/facebook.png"></li>
                <li><a href="#">Twitter</a><img src = "assets/twitter.png"></li>
            </ul>
        </div>
    </footer>
</body>
<!-- fim do corpo -->
</html>